StockExchangeWeb/Service References/StockExchangeService/StockExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllStock">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStockResult" type="tns:ArrayOfStock" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStock">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Stock" nillable="true" type="tns:Stock" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Stock">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllStockSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStock" />
  </wsdl:message>
  <wsdl:message name="GetAllStockSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStockResponse" />
  </wsdl:message>
  <wsdl:portType name="StockExchangeServiceSoap">
    <wsdl:operation name="GetAllStock">
      <wsdl:input message="tns:GetAllStockSoapIn" />
      <wsdl:output message="tns:GetAllStockSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockExchangeServiceSoap" type="tns:StockExchangeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStock">
      <soap:operation soapAction="http://tempuri.org/GetAllStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockExchangeServiceSoap12" type="tns:StockExchangeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStock">
      <soap12:operation soapAction="http://tempuri.org/GetAllStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockExchangeService">
    <wsdl:port name="StockExchangeServiceSoap" binding="tns:StockExchangeServiceSoap">
      <soap:address location="http://localhost/StockExchangeService/StockExchangeService.asmx" />
    </wsdl:port>
    <wsdl:port name="StockExchangeServiceSoap12" binding="tns:StockExchangeServiceSoap12">
      <soap12:address location="http://localhost/StockExchangeService/StockExchangeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>